@import "~@/variables.scss";

.product {

  .image {
    background-color: $product-bg;
    padding: 25px 41px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      object-fit: contain;
      width: 180px;
      height: 180px;
    }
  }

  &:hover {
    cursor: pointer;
    .info {
      opacity: 0;
    }

    .action {
      opacity: 1;
    }
  }

  .info {
    opacity: 1;
    transition: .5s;
    > p {
      width: 100%;
      display: block;
      font-size: 16px;
      text-align: center;
      margin: 0;
  
      &:first-of-type {
        margin-top: 13px;
        color: $product-name;
      }
  
      &:last-of-type {
        margin-top: 2px;
        color: $product-price;
        font-weight: bold;
      }
    }
  }

  .action {
    opacity: 0;
    outline: none;
    position: relative;
    top: -33px;
    transition: .5s;

    button {
      display: block;
      width: 100%;
      background-color: transparent;
      color: $product-price;
      border: 0;
      font-size: 16px;
      font-weight: bold;
      outline: none;
      cursor: pointer;
    }
  }
}